<!DOCTYPE html>
<html>
<head>
    <title>Plantera Mera : @ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/CustomStyling.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid">
        <nav class="navbar navbar-dark bg-garden navbar-expand-md">
            <h1 class="navbar-brand"><i class="fas fa-seedling"></i> Plantera Mera <i class="fas fa-seedling"></i></h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Startsida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Seed" asp-action="List">Köp frön</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="Contact">Kontakta oss</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="App" asp-action="About">Om oss</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logga ut</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Logga in</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">
            Copyright 2020 Plantera Mera
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>